name: grpc_googleapis
description: Generator to create all the gRPC Dart files for googleapis.
version: 3.0.0
homepage: https://github.com/peiffer-innovations/grpc_googleapis

environment:
  sdk: '>=3.0.0 <4.0.0'

# dependencies:
#   fixnum: ^1.0.0
#   grpc: ^5.0.0
#   protobuf: '>=5.0.0<7.0.0'

dev_dependencies:
  test: ^1.24.9

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'uuid'
  - 'vector_math'
  - 'webdriver'
